.c-accordionMenu {
  width: 100%;
  border-bottom: 1px solid #fff;
  margin-bottom: var(--base-size-12);
  position: relative;
}
.c-accordionMenu__header {
  font-weight: normal;
  font-size: var(--base-size-16);
}
.c-accordionMenu__panel {
  display: flex;
  height: auto;
  opacity: 1;
  visibility: visible;
  flex-direction: column;
  padding-left: var(--base-size-12);
}
.c-accordionMenu__panel-list {
  margin-bottom: var(--base-size-12);
}
.c-accordionMenu__panel-list a {
  color: #fff;
  font-size: var(--base-size-12);
  text-decoration: none;
}
.c-accordionMenu__panel.__close {
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.c-accordionMenu__trigger {
  position: relative;
  color: #fff;
  width: 100%;
  height: 65px;
}
.c-accordionMenu__trigger-icon {
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0;
  width: 10px;
  height: 10px;
  margin: auto;
  border: solid #fff;
  border-width: 2px 2px 0 0;
  transform: rotate(-45deg);
}
.c-accordionMenu__trigger[aria-expanded=true] .c-accordionMenu__trigger-icon {
  transform: rotate(135deg);
}

.c-contactLink {
  display: inline-block;
  border-radius: var(--rounded-sm);
  cursor: pointer;
  white-space: nowrap;
}
.c-contactLink.contact, .c-contactLink.tel {
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  border: 2px solid;
}
.c-contactLink.contact {
  color: var(--c-button-secondary);
  background-color: var(--c-button-primary);
  border-color: var(--c-button-primary);
  padding: 0.5em 2em 0.5em 2.5em;
}
.c-contactLink.contact::after {
  content: "";
  display: inline-block;
  line-height: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0.375em 0.64952em;
  border-left-color: currentColor;
  border-right: 0;
  margin-left: var(--base-size-12);
}
.c-contactLink.tel {
  color: var(--c-button-primary);
  background-color: var(--c-button-secondary);
  border-color: var(--c-button-primary);
  padding: 0.5em 2em 0.5em 3.5em;
  position: relative;
}
.c-contactLink.tel::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/telephone.svg");
  position: absolute;
  left: 15%;
  transform: translateX(-15%);
  top: 50%;
  transform: translateY(-50%);
}
.c-contactLink.tel::after {
  content: "";
  display: none;
}
.c-contactLink:hover {
  opacity: 0.7;
}
@media (max-width: 1119px) {
  .c-contactLink.contact, .c-contactLink.tel {
    border-radius: var(--rounded-xs);
    font-size: var(--base-size-12);
  }
  .c-contactLink.tel::before {
    width: var(--base-size-16);
    height: var(--base-size-16);
  }
}
@media (max-width: 991px) {
  .c-contactLink.contact {
    padding: 0.5em 2em 0.5em 2em;
  }
  .c-contactLink.contact::after {
    content: "";
    display: none;
  }
}

.c-button__link-white {
  padding: var(--base-size-16);
  text-decoration: none;
  border-radius: var(--base-size-4);
  border: 1px solid var(--c-bg-secondary);
  height: var(--base-size-80);
  transition: all 0.25s ease;
  min-width: 120px;
  text-align: center;
  font-weight: 500;
}
.c-button__link-white span {
  line-height: var(--base-size-48);
}
@media (max-width: 1119px) {
  .c-button__link-white span {
    line-height: var(--base-size-24);
    font-size: var(--base-size-16);
  }
}
.c-button__link-white:hover {
  background-color: var(--c-bext-body);
}
.c-button__link-white:hover span {
  color: #fff !important;
}
.c-button__viewMore {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 120px;
  padding: var(--base-size-16) var(--base-size-64);
  font-weight: bold;
  background-color: var(--c-bg-base);
  border: 2px solid var(--c-general-primary);
  color: var(--c-text-link-primary);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 320px;
}
.c-button__viewMore::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--c-general-primary);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}
.c-button__viewMore:hover {
  color: #fff;
}
.c-button__viewMore:hover:before {
  transform: translateX(0);
}

.c-dropDownMenu__button::after {
  content: "";
  display: inline-block;
  line-height: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0.1875em 0.32476em;
  border-left-color: currentColor;
  border-right: 0;
  margin-left: var(--base-size-8);
  position: relative;
  bottom: 2px;
  transform: rotate(90deg);
}
.c-dropDownMenu__list {
  margin: 0 var(--base-size-24);
  position: relative;
}
.c-dropDownMenu__list:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: var(--base-size-24);
  right: -32px;
  transform: rotate(32deg);
  background-color: var(--c-neutral-border);
}
.c-dropDownMenu__list:hover, .c-dropDownMenu__list:focus {
  opacity: 0.8;
}
.c-dropDownMenu:hover ul, .c-dropDownMenu:focus ul, .c-dropDownMenuul.focused {
  opacity: 1;
  visibility: visible;
}
.c-dropDownMenu__menu {
  background-color: #ffffff;
  border-radius: 0 0 var(--rounded-sm) var(--rounded-sm);
  display: flex !important;
  justify-content: center;
  padding: var(--base-size-24) var(--base-size-32);
  position: absolute;
  opacity: 0;
  top: var(--base-size-64);
  transition: 0.6s;
  visibility: hidden;
}
.c-dropDownMenu__menu:hover, .c-dropDownMenu__menu:focus, .c-dropDownMenu__menu.focused {
  opacity: 1;
  visibility: visible;
}
.c-dropDownMenu__menu::before {
  content: "";
  width: var(--base-size-36);
  height: 1px;
  top: 0;
  left: var(--base-size-24);
  transform: rotate(45deg);
  background-color: var(--c-general-primary);
  position: absolute;
}
@media (max-width: 1119px) {
  .c-dropDownMenu__list {
    font-size: var(--base-size-12);
    margin: 0 var(--base-size-12);
  }
  .c-dropDownMenu__list:not(:last-child)::after {
    content: "";
    height: var(--base-size-16);
    top: 4px;
    right: -20px;
    transform: rotate(32deg);
    background-color: var(--c-neutral-border);
  }
  .c-dropDownMenu__menu {
    padding: var(--base-size-24) var(--base-size-16);
  }
}

.c-headerLogo {
  align-items: center;
  display: flex;
  margin-left: var(--base-size-40);
  margin-top: var(--base-size-24);
  position: relative;
  text-decoration: none;
}
.c-headerLogo__companyName {
  display: inline-block;
  font-size: var(--base-size-24);
  font-weight: 600;
  letter-spacing: 2px;
  white-space: nowrap;
}
.c-headerLogo__img {
  display: inline-block;
  width: 130px;
  margin-right: var(--base-size-24);
}
.c-headerLogo::after {
  content: "Atumi Stock & Delivery";
  display: block;
  font-family: var(--font-heading);
  font-size: var(--base-size-12);
  font-weight: 600;
  letter-spacing: 0.5px;
  position: absolute;
  top: var(--base-size-64);
  text-align: center;
  width: 100%;
}
@media (max-width: 1119px) {
  .c-headerLogo {
    margin-left: var(--base-size-12);
    margin-top: var(--base-size-12);
  }
  .c-headerLogo__companyName {
    font-size: var(--base-size-20);
    letter-spacing: 1px;
  }
  .c-headerLogo__img {
    width: 100px;
    margin-right: var(--base-size-16);
  }
  .c-headerLogo::after {
    top: var(--base-size-48);
  }
}
@media (max-width: 991px) {
  .c-headerLogo {
    margin-top: var(--base-size-8);
  }
  .c-headerLogo__companyName {
    font-size: var(--base-size-16);
    letter-spacing: 0.5px;
  }
  .c-headerLogo__img {
    width: 90px;
    margin-right: var(--base-size-12);
  }
  .c-headerLogo::after {
    display: none;
  }
}

.c-hamburgerNavButton {
  display: none;
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 3;
  transition: all 0.5s;
}
.c-hamburgerNavButton__bar {
  display: block;
  background-color: var(--c-bext-body);
  border-radius: 1px;
  height: 2px;
  width: 100%;
}
.c-hamburgerNavButton__bar:not(:last-child) {
  margin-bottom: 9px;
}
.c-hamburgerNavButton[aria-expanded=true] span {
  background-color: var(--c-button-primary);
  position: absolute;
  top: var(--base-size-16);
  transition: all 0.3s ease;
  width: 90%;
}
.c-hamburgerNavButton[aria-expanded=true] span:nth-child(1) {
  transform: rotate(45deg);
}
.c-hamburgerNavButton[aria-expanded=true] span:nth-child(2) {
  display: none;
}
.c-hamburgerNavButton[aria-expanded=true] span:nth-child(3) {
  transform: rotate(135deg);
}
@media (max-width: 991px) {
  .c-hamburgerNavButton {
    display: block;
    position: fixed;
    top: var(--base-size-24);
    right: var(--base-size-24);
  }
}
@media (max-width: 767px) {
  .c-hamburgerNavButton {
    top: var(--base-size-16);
  }
}

.c-headerNavSmart {
  background: #000;
  display: none;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: opacity 0.3s linear;
}
.c-headerNavSmart__inner {
  left: 0;
  width: 100%;
  margin-top: var(--base-size-64);
}
.c-headerNavSmart__buttons {
  margin-top: var(--base-size-24);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--base-size-24);
}
.c-headerNavSmart__mainLinks {
  margin-top: var(--base-size-24);
  padding: 0 var(--base-size-12);
}
.c-headerNavSmart__mainLinksList {
  width: 100%;
  border-bottom: 1px solid #fff;
  position: relative;
}
.c-headerNavSmart__mainLinksList a {
  display: block;
  color: #fff;
  height: 65px;
  line-height: 65px;
  text-decoration: none;
  position: relative;
}
.c-headerNavSmart__mainLinksList a:active {
  color: var(--c-text-link-primary);
}
.c-headerNavSmart__subLinks {
  padding: 0 var(--base-size-12);
  margin-top: var(--base-size-48);
}
.c-headerNavSmart__subLinks li {
  width: 100%;
  padding: var(--base-size-12) 0;
}
.c-headerNavSmart__subLinks a {
  display: block;
  color: #fff;
  text-decoration: none;
}
.c-headerNavSmart__subLinks a:active {
  color: var(--c-text-link-primary);
}
.c-headerNavSmart[aria-hidden=false] {
  opacity: 0.8;
}
@media (max-width: 991px) {
  .c-headerNavSmart__inner {
    padding: var(--base-size-12);
  }
  .c-headerNavSmart__buttons {
    gap: var(--base-size-12);
  }
}

.c-headerNavPC {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0 0 0 var(--rounded-xl);
  height: var(--header-height);
  padding: 0 var(--base-size-24);
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.5s;
}
.c-headerNavPC__buttons {
  display: flex;
  gap: var(--base-size-16);
}
.c-headerNavPC__list {
  padding: var(--base-size-32) 0;
  font-size: var(--base-size-16);
  font-weight: 700;
  white-space: nowrap;
}
.c-headerNavPC ul {
  align-items: center;
  display: flex;
  gap: var(--base-size-24);
  justify-content: space-around;
}
.c-headerNavPC ul li {
  position: relative;
}
.c-headerNavPC ul li a {
  font-family: var(--font-heading);
  letter-spacing: 0.01em;
  text-decoration: none;
  white-space: nowrap;
}
.c-headerNavPC ul li a:hover + ul {
  display: block;
}
.c-headerNavPC ul li a:hover, .c-headerNavPC ul li a:focus,
.c-headerNavPC ul li button:hover,
.c-headerNavPC ul li button:focus {
  opacity: 0.8;
}
@media (max-width: 991px) {
  .c-headerNavPC {
    display: none;
  }
}

.c-lazysizes {
  opacity: 0;
  transition: opacity 2s;
}
.c-lazysizes.lazyloaded {
  opacity: 1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where([hidden]:not([hidden=until-found])) {
  display: none !important;
}

:where(html) {
  -webkit-text-size-adjust: none;
  color-scheme: dark light;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
}

@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
  }
}
:where(body) {
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

:where(button) {
  all: unset;
}

:where(input, button, textarea, select) {
  font: inherit;
  color: inherit;
}

:where(textarea) {
  resize: vertical;
  resize: block;
}

:where(button, label, select, summary, [role=button], [role=option]) {
  cursor: pointer;
}

:where(:disabled) {
  cursor: not-allowed;
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
  cursor: not-allowed;
}

:where(a) {
  color: inherit;
  text-underline-offset: 0.2ex;
}

:where(ul, ol) {
  list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, picture, svg, video) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(h1, h2, h3) {
  line-height: calc(1em + 0.5rem);
  text-wrap: balance;
}

:where(hr) {
  border: none;
  border-block-start: 1px solid;
  color: inherit;
  block-size: 0;
  overflow: visible;
}

:where(:focus-visible) {
  outline: 3px solid CanvasText;
  box-shadow: 0 0 0 5px Canvas;
  outline-offset: 1px;
}

:where(:focus-visible, :target) {
  scroll-margin-block: 8vh;
}

:where(.visually-hidden:not(:focus-within, :active)) {
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
}

* {
  color: var(--c-bext-body);
  font-family: --font-base;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}
:root {
  --font-base: Noto Sans JP, sans-serif, "Hiragino Sans", Meiryo;
  --font-heading: "Raleway", sans-serif;
}

:root {
  --c-red-100: #cf183d;
  --c-red-200: #dc2851;
  --c-red-300: #e93b64;
  --c-red-400: #f1557e;
  --c-red-500: #f66e97;
  --c-black-000: #000000;
  --c-black-100: #111111;
  --c-black-200: #222222;
  --c-black-300: #333333;
  --c-black-400: #444444;
  --c-black-500: #555555;
  --c-black-600: #666666;
  --c-black-700: #777777;
  --c-black-800: #888888;
  --c-black-100: #111111;
  --c-black-200: #222222;
  --c-black-300: #333333;
  --c-black-400: #444444;
  --c-black-500: #555555;
  --c-black-600: #666666;
  --c-black-700: #777777;
  --c-black-800: #888888;
  --c-black-900: #999999;
  --c-gray-100: #f5f9fc;
  --c-gray-200: #f9f9f9;
  --c-gray-300: #edf2f7;
  --c-gray-400: #e4edf4;
  --c-gray-500: #d6e3ed;
  --c-gray-600: #acbcc7;
  --c-gray-700: #8f9faa;
  --c-gray-800: #65717b;
  --c-general-primary: var(--c-red-100);
  --c-button-primary: var(--c-red-100);
  --c-button-primary-hover: var(--c-red-200);
  --c-button-secondary: #fff;
  --c-bext-body: #000000d1;
  --c-text-low-priority: #fff;
  --c-text-lower-priority: var(--c-gray-800);
  --c-text-link-primary: var(--c-red-100);
  --c-bg-base: #fff;
  --c-bg-neutral: var(--c-gray-300);
  --c-bg-neutral-lighter: var(--c-gray-200);
  --c-bg-neutral-lightest: var(--c-gray-100);
  --c-bg-primary: #172338;
  --c-bg-primary-lighter: var(--c-red-200);
  --c-bg-primary-lightest: var(--c-red-100);
  --c-bg-secondary: #172338;
  --c-neutral-border: var(--c-gray-500);
  --c-neutral-border-lighter: var(--c-gray-400);
  --c-focus-shadow: var(--c-red-300);
  color-scheme: light;
}

:root {
  --base-size-4: 0.25rem;
  --base-size-8: 0.5rem;
  --base-size-12: 0.75rem;
  --base-size-16: 1rem;
  --base-size-20: 1.25rem;
  --base-size-24: 1.5rem;
  --base-size-28: 1.75rem;
  --base-size-32: 2rem;
  --base-size-36: 2.25rem;
  --base-size-40: 2.5rem;
  --base-size-44: 2.75rem;
  --base-size-48: 3rem;
  --base-size-64: 4rem;
  --base-size-80: 5rem;
  --base-size-96: 6rem;
  --base-size-112: 7rem;
  --base-size-128: 8rem;
  --header-height: 120px;
  --rounded-xs: 4px;
  --rounded-sm: 7px;
  --rounded-md: 10px;
  --rounded-lg: 14px;
  --rounded-xl: 2rem;
  --rounded-full: 99rem;
  --rounded-publication: 25%;
}

.l-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.l-container__columns {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .l-container__columns {
    display: block;
  }
}
.l-container__common {
  padding: 0px 40px;
  margin: 0px auto;
}
@media (max-width: 568px) {
  .l-container__common {
    padding: 0px 20px;
  }
}
@media (max-width: 767px) {
  .l-container__common {
    padding: 0px 25px;
  }
}
@media (max-width: 1119px) {
  .l-container__common {
    max-width: 100%;
  }
}
.l-container__grid {
  display: grid;
}
.l-container__grid-column3 {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.2em 1.8em;
}
@media (max-width: 568px) {
  .l-container__grid-column3 {
    grid-gap: 2em 1.2em;
  }
}
@media (max-width: 991px) {
  .l-container__grid-column3 {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em 1.7em;
  }
}
@media (max-width: 1119px) {
  .l-container__grid-column3 {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.2em 1.2em;
  }
}
@media (max-width: 767px) {
  .l-container__undo {
    padding: 0px -20px;
  }
}
.l-container__wide {
  max-width: 1200px;
}

.l-footer {
  background: var(--c-bg-neutral-lighter);
}
.l-footer__copyright {
  margin-top: 30px;
  font-size: 0.8125rem;
  text-align: right;
}
@media (max-width: 991px) {
  .l-footer__copyright {
    text-align: center;
  }
}
.l-footer__row {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
}
@media (max-width: 991px) {
  .l-footer__row {
    grid-template-columns: 1fr;
    row-gap: var(--base-size-32);
  }
}
.l-footer__logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .l-footer__logo {
    justify-content: center;
  }
}
.l-footer__nav {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  font-size: 0.8125rem;
  row-gap: 12px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.l-footer__nav a {
  text-decoration: none;
}
@media (max-width: 1119px) {
  .l-footer__nav a:hover, .l-footer__nav a:focus {
    text-decoration: underline;
  }
}
@media (max-width: 1119px) {
  .l-footer__nav {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 var(--base-size-12);
  }
}
@media (max-width: 1119px) {
  .l-footer {
    padding: var(--base-size-32) var(--base-size-24) var(--base-size-40);
  }
}

.l-header {
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow: visible;
  position: sticky;
  top: 0;
  width: 100%;
  margin-top: -120px;
  transition: all 0.5s;
  z-index: 2;
}
.l-header.hidden {
  top: -120px;
}
.l-header.hidden .c-headerNavPC,
.l-header.hidden #navButton {
  top: -120px;
}
@media (max-width: 767px) {
  .l-header {
    height: var(--base-size-64);
  }
}

.p-top__hero {
  align-items: center;
  background: url(../img/hero.png) no-repeat;
  background-position: center, center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50vw;
  justify-content: start;
  max-height: 85vh;
  padding-left: var(--base-size-64);
  width: 100%;
}
.p-top__hero-titleEn {
  color: var(--c-text-low-priority);
  font-size: clamp(var(--base-size-12), 1vw, var(--base-size-16));
  font-weight: 700;
  letter-spacing: 0.05em;
}
@media (max-width: 991px) {
  .p-top__hero-titleEn {
    font-size: var(--base-size-16);
  }
}
.p-top__hero-titleJp {
  color: var(--c-text-low-priority);
  font-size: clamp(40px, 2.9vw, 80px);
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.4rem;
  margin-bottom: var(--base-size-32);
}
@media (max-width: 991px) {
  .p-top__hero-titleJp {
    margin-bottom: var(--base-size-16);
  }
}
@media (max-width: 991px) {
  .p-top__hero {
    height: 100svh;
    max-height: 100vh;
    padding: 0 15px;
  }
}
.p-top__about {
  padding: var(--base-size-64) 0;
}
.p-top__about-bottomLinks {
  margin-top: var(--base-size-64);
  gap: var(--base-size-12);
  max-width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 991px) {
  .p-top__about-bottomLinks {
    width: 100%;
  }
}
.p-top__about-images {
  display: flex;
  flex-direction: column;
}
.p-top__about-images li:nth-child(1) {
  width: 66%;
}
.p-top__about-images li:nth-child(2) {
  width: 40%;
  margin: -20% 0 0 auto;
  transition-delay: 0.3s;
}
.p-top__about-images li:nth-child(3) {
  width: 45%;
  margin: -14% 0 10% 8%;
  transition-delay: 0.6s;
}
.p-top__about-inner {
  display: flex;
}
@media (max-width: 991px) {
  .p-top__about-inner {
    max-width: 720px;
    display: block;
  }
}
.p-top__about-messages {
  margin-top: auto;
  margin-left: auto;
  text-align: right;
}
.p-top__about-messages h1 {
  margin-bottom: var(--base-size-24);
}
.p-top__about-messages h1 span {
  display: block;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-size: var(--base-size-32);
}
@media (max-width: 991px) {
  .p-top__about-messages h1 span {
    font-size: var(--base-size-24);
  }
}
.p-top__about-messages img {
  filter: drop-shadow(0px 2px 16px rgba(105, 105, 105, 0.15));
}
.p-top__about-messages p {
  line-height: 1.8;
  letter-spacing: 0.03em;
  font-size: var(--base-size-20);
  font-weight: 300;
}
@media (max-width: 991px) {
  .p-top__about-messages p {
    font-size: var(--base-size-16);
    font-weight: 400;
  }
}
@media (max-width: 991px) {
  .p-top__about-messages {
    text-align: left;
  }
}
@media (max-width: 1119px) {
  .p-top__about {
    padding: var(--base-size-64) var(--base-size-24);
    width: 100%;
  }
}
.p-top__services {
  background-color: var(--c-bg-neutral-lightest);
  padding: var(--base-size-64) 0;
  margin: 0 auto;
  padding: var(--base-size-64) 0;
}
.p-top__services-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--base-size-64);
  margin-top: var(--base-size-64);
}
.p-top__services-cards-item {
  box-shadow: 0 0 3px 2px #e9edef;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 4px;
  padding: var(--base-size-32);
  position: relative;
}
.p-top__services-cards-item-heading {
  font-size: var(--base-size-32);
  margin: var(--base-size-32) 0 var(--base-size-20);
}
.p-top__services-cards-item-message {
  display: inline-block;
  font-size: var(--base-size-20);
  letter-spacing: 0.05em;
  position: relative;
  margin-top: var(--base-size-20);
  padding-left: var(--base-size-32);
}
.p-top__services-cards-item-message::before {
  content: "";
  left: -2px;
  top: var(--base-size-4);
  position: absolute;
  display: inline-block;
  width: var(--base-size-20);
  height: var(--base-size-20);
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (max-width: 767px) {
  .p-top__services-cards-item-message {
    font-size: var(--base-size-16);
  }
}
.p-top__services-cards-item-image {
  margin: 0 auto;
  text-align: center;
}
.p-top__services-cards-item-image img {
  width: 100%;
  height: auto;
}
.p-top__services-cards-item:nth-child(1)::before {
  content: "01";
  font-family: oscine, sans-serif;
  font-weight: 500;
  font-size: 4rem;
  color: var(--c-general-primary);
  position: absolute;
  top: -30px;
  left: 30px;
  line-height: 1;
}
.p-top__services-cards-item:nth-child(1)::after {
  content: "";
  position: absolute;
  display: block;
  width: var(--base-size-128);
  height: 2px;
  background-color: var(--c-general-primary);
  top: 45px;
  left: 30px;
  z-index: 6;
}
.p-top__services-cards-item:nth-child(2)::before {
  content: "02";
  font-family: oscine, sans-serif;
  font-weight: 500;
  font-size: 4rem;
  color: var(--c-general-primary);
  position: absolute;
  top: -30px;
  left: 30px;
  line-height: 1;
}
.p-top__services-cards-item:nth-child(2)::after {
  content: "";
  position: absolute;
  display: block;
  width: var(--base-size-128);
  height: 2px;
  background-color: var(--c-general-primary);
  top: 45px;
  left: 30px;
  z-index: 6;
}
.p-top__services-cards-item:nth-child(3)::before {
  content: "03";
  font-family: oscine, sans-serif;
  font-weight: 500;
  font-size: 4rem;
  color: var(--c-general-primary);
  position: absolute;
  top: -30px;
  left: 30px;
  line-height: 1;
}
.p-top__services-cards-item:nth-child(3)::after {
  content: "";
  position: absolute;
  display: block;
  width: var(--base-size-128);
  height: 2px;
  background-color: var(--c-general-primary);
  top: 45px;
  left: 30px;
  z-index: 6;
}
.p-top__services-cards-item:nth-child(4)::before {
  content: "04";
  font-family: oscine, sans-serif;
  font-weight: 500;
  font-size: 4rem;
  color: var(--c-general-primary);
  position: absolute;
  top: -30px;
  left: 30px;
  line-height: 1;
}
.p-top__services-cards-item:nth-child(4)::after {
  content: "";
  position: absolute;
  display: block;
  width: var(--base-size-128);
  height: 2px;
  background-color: var(--c-general-primary);
  top: 45px;
  left: 30px;
  z-index: 6;
}
@media (max-width: 767px) {
  .p-top__services-cards {
    grid-template-columns: 1fr;
  }
}
.p-top__services-headding {
  font-size: var(--base-size-32);
}
.p-top__services-headding span {
  color: var(--c-general-primary);
}
.p-top__services-headding br {
  display: none;
}
@media (max-width: 991px) {
  .p-top__services-headding br {
    display: block;
  }
}
@media (max-width: 991px) {
  .p-top__services-headding {
    font-size: var(--base-size-24);
  }
}
.p-top__services-viewMorelink {
  display: flex;
  justify-content: center;
  margin-top: var(--base-size-64);
}
@media (max-width: 1119px) {
  .p-top__services {
    padding: var(--base-size-64) var(--base-size-24);
    width: 100%;
  }
}

.u-m__t-8 {
  margin-top: var(--base-size-16);
}
.u-m__t-16 {
  margin-top: var(--base-size-16);
}
.u-m__t-32 {
  margin-top: var(--base-size-32);
}
.u-m__t-64 {
  margin-top: var(--base-size-16);
}
.u-m__e-8 {
  margin-right: var(--base-size-16);
}
.u-m__e-16 {
  margin-right: var(--base-size-16);
}
.u-m__e-32 {
  margin-right: var(--base-size-32);
}
.u-m__e-64 {
  margin-right: var(--base-size-16);
}
.u-m__b-8 {
  margin-bottom: var(--base-size-16);
}
.u-m__b-16 {
  margin-bottom: var(--base-size-16);
}
.u-m__b-32 {
  margin-bottom: var(--base-size-32);
}
.u-m__b-64 {
  margin-bottom: var(--base-size-16);
}
.u-m__s-8 {
  margin-left: var(--base-size-16);
}
.u-m__s-16 {
  margin-left: var(--base-size-16);
}
.u-m__s-32 {
  margin-left: var(--base-size-32);
}
.u-m__s-64 {
  margin-left: var(--base-size-16);
}

.u-p__t-8 {
  padding-top: var(--base-size-16);
}
.u-p__t-16 {
  padding-top: var(--base-size-16);
}
.u-p__t-32 {
  padding-top: var(--base-size-32);
}
.u-p__t-64 {
  padding-top: var(--base-size-16);
}
.u-p__e-8 {
  padding-right: var(--base-size-16);
}
.u-p__e-16 {
  padding-right: var(--base-size-16);
}
.u-p__e-32 {
  padding-right: var(--base-size-32);
}
.u-p__e-64 {
  padding-right: var(--base-size-16);
}
.u-p__b-8 {
  padding-bottom: var(--base-size-16);
}
.u-p__b-16 {
  padding-bottom: var(--base-size-16);
}
.u-p__b-32 {
  padding-bottom: var(--base-size-32);
}
.u-p__b-64 {
  padding-bottom: var(--base-size-16);
}
.u-p__s-8 {
  padding-left: var(--base-size-16);
}
.u-p__s-16 {
  padding-left: var(--base-size-16);
}
.u-p__s-32 {
  padding-left: var(--base-size-32);
}
.u-p__s-64 {
  padding-left: var(--base-size-16);
}/*# sourceMappingURL=style.css.map */