@use "../global/mixin" as gm;

.c-breadcrumb {
  list-style: none;
  margin-top: var(--base-size-12);
  li{
    display: inline;
    position: relative;
    &:not(:last-child) {
      margin-right: var(--base-size-32);
      font-weight: 600;
    }
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: -16px;
      top: 8px;
      transform: translateY(-40%);
      width: var(--base-size-8);
      height: var(--base-size-8);
      border: solid #000;
      border-width: 1px 1px 0 0;
      transform: rotate(45deg);
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
