@use "../global/mixin" as gm;

.c-buttonWrapper {
  &__left {
    display: flex;
    justify-content: left;
    margin: var(--base-size-64) 0;
  }

  &__center {
    display: flex;
    justify-content: center;
    margin: var(--base-size-64) 0;
  }

  &__right {
    display: flex;
    justify-content: right;
    margin: var(--base-size-64) 0;
  }
}
