@use "../global/mixin" as gm;

.c-button {
  &__link {
    &-cv {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
      width: 420px;
      padding: var(--base-size-32) var(--base-size-64);
      font-size: var(--base-size-24);
      font-weight: bold;
      background-color: var(--c-bg-base);
      border-radius: var(--rounded-xs);
      border: 2px solid var(--c-border-lightest);
      color: var(--c-text-link-primary);
      cursor: pointer;
      position: relative;
      overflow: hidden;
      z-index: 1;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--c-general-primary);
        transform: translateX(-100%);
        transition: all 0.3s;
        z-index: -1;
      }
      &:hover,
      &:active,
      &:focus {
        color: var(--c-text-low-priority);
        border: 2px solid var(--c-border-lightest);
      }
      &:hover:before,
      &:active:before,
      &:focus:before {
        transform: translateX(0);
      }

      @include gm.breakpoint(sm) {
        width: 100%;
      }
    }
    &-white {
      span {
        font-weight: 600;
        word-spacing: nowrap;
        line-height: var(--base-size-48);
        @include gm.breakpoint(sm) {
          font-size: var(--base-size-12);
          line-height: var(--base-size-36);
        }
      }

      padding: var(--base-size-16);
      text-decoration: none;
      border-radius: var(--rounded-xs);
      border: 1px solid var(--c-bg-secondary);
      height: var(--base-size-80);
      transition: all 0.25s ease;
      text-align: center;
      font-weight: 500;
      @include gm.breakpoint(sm) {
        padding: var(--base-size-12);
        height: var(--base-size-64);
      }
      &:hover {
        background-color: var(--c-bext-body);
        span {
          color: var(--c-text-low-priority) !important;
        }
      }
    }
    &-textBox {
      a {
        letter-spacing: 0.05em;
        text-decoration: none;
        overflow: hidden !important;
        display: -webkit-box;
        line-height: 1.5;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        box-sizing: border-box;
      }
      cursor: pointer;
      background-color: var(--c-bg-base);
      border-radius: var(--rounded-xs);
      box-shadow: 0 0 3px 2px var(--c-focus-shadow);
      height: 80px;
      padding: var(--base-size-16) var(--base-size-40) var(--base-size-16)
        var(--base-size-16);
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: var(--base-size-20);
        top: 45%;
        transform: translateY(-45%);
        width: 10px;
        height: 10px;
        border: solid #000;
        border-width: 2px 2px 0 0;
        transform: rotate(45deg);
      }
      &:hover,
      &:active,
      &:focus {
        box-shadow: 0 0 6px 4px var(--c-focus-shadow);
      }
    }
    &-viewMore {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
      padding: var(--base-size-16) var(--base-size-64);
      font-weight: bold;
      background-color: var(--c-bg-base);
      border: 2px solid var(--c-general-primary);
      border-radius: var(--rounded-xs);
      color: var(--c-text-link-primary);
      cursor: pointer;
      position: relative;
      overflow: hidden;
      z-index: 1;
      width: 320px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--c-general-primary);
        transform: translateX(-100%);
        transition: all 0.3s;
        z-index: -1;
      }
      &:hover {
        color: #fff;
      }

      &:hover:before {
        transform: translateX(0);
      }

      @include gm.breakpoint(sm) {
        width: 100%;
      }
    }
  }
}
