@use "../global/mixin" as gm;

.c-hamburgerNavButton {
  &__bar {
    display: block;
    background-color: var(--c-bext-body);
    border-radius: 1px;
    height: 2px;
    width: 100%;
  }
  &__bar:not(:last-child) {
    margin-bottom: 9px;
  }
  display: none;
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 3;
  transition: all 0.5s;

  &[aria-expanded="true"] {
    span {
      background-color: var(--c-button-primary);
      position: absolute;
      top: var(--base-size-16);
      transition: all 0.3s ease;
      width: 90%;
    }
    span:nth-child(1) {
      transform: rotate(45deg);
    }
    span:nth-child(2) {
      display: none;
    }
    span:nth-child(3) {
      transform: rotate(135deg);
    }
  }
  @include gm.breakpoint(md) {
    display: block;
    position: fixed;
    top: var(--base-size-24);
    right: var(--base-size-24);
  }
  @include gm.breakpoint(sm) {
    top: var(--base-size-16);
  }
}
