@use "../global/mixin" as gm;

.c-headerNavSmart {
  &__inner {
    left: 0;
    width: 100%;
    margin-top: var(--base-size-64);
  }
  &__buttons {
    margin-top: var(--base-size-24);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--base-size-24);
  }

  &__mainLinks {
    padding: 0 var(--base-size-12);
    margin-top: var(--base-size-24);
  }
  &__mainLinksList {
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding: var(--base-size-24) 0;
      position: relative;
      &:active {
        color: var(--c-text-link-primary);
      }
    }

    width: 100%;
    border-bottom: 1px solid #fff;
    margin-bottom: var(--base-size-12);
    position: relative;
  }
  &__subLinks {
    li {
      width: 100%;
      padding: var(--base-size-12) 0;
    }
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      &:active {
        color: var(--c-text-link-primary);
      }
    }

    padding: 0 var(--base-size-12);
    margin-top: var(--base-size-48);
  }

  background: #000;
  display: none;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: opacity 0.3s linear;

  &[aria-hidden="false"] {
    opacity: 0.8;
  }

  @include gm.breakpoint(md) {
    &__inner {
      padding: var(--base-size-12);
    }

    &__buttons {
      gap: var(--base-size-12);
    }
  }
}
