@use "../global/mixin" as gm;

.c-headerNavPC {
  ul {
    align-items: center;
    display: flex;
    gap: var(--base-size-40);
    justify-content: space-around;
    li {
      a {
        font-family: var(--font-heading);
        font-weight: 600;
        font-size: var(--base-size-20);
        letter-spacing: 0.01em;
        text-decoration: none;
        white-space: nowrap;
      }
    }
  }
  background: #ffffff;
  padding-left: var(--base-size-64);
  padding-right: var(--base-size-40);
  padding-top: var(--base-size-44);
  padding-bottom: var(--base-size-40);
  border-radius: 0 0 0 var(--rounded-xl);
  height: 100%;
  display: flex;

  @include gm.breakpoint(lg) {
    ul {
      align-items: center;
      display: flex;
      gap: var(--base-size-24);
      justify-content: space-around;
      li {
        a {
          font-size: var(--base-size-16);
        }
      }
    }
  }

  @include gm.breakpoint(md) {
    display: none;
  }
}
