@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

:root {
  --font-base: Noto Sans JP, sans-serif, "Hiragino Sans", Meiryo;
  --font-heading: "Raleway", sans-serif;
}
