@use "../global/mixin" as gm;

.l-footer {
  &__copyright {
    margin-top: 30px;
    font-size: 0.8125rem;
    text-align: right;
    @include gm.breakpoint(md) {
      text-align: center;
    }
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;

    @include gm.breakpoint(md) {
      grid-template-columns: 1fr;
      row-gap: var(--base-size-32);
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include gm.breakpoint(md) {
      justify-content: center;
    }
  }
  &__nav {
    a {
      text-decoration: none;
      @include gm.breakpoint(lg) {
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    font-size: 0.8125rem;
    row-gap: 12px;
    column-gap: 20px;
    @include gm.breakpoint(lg) {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 var(--base-size-12);
    }
  }
  background: var(--c-bg-neutral-lighter);
  padding: 30px 0 40px;
}
