@use "../global/mixin" as gm;

.l-header {
  align-items: center;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  overflow: visible;
  position: sticky;
  width: 100%;
}
