.l-header {
  align-items: center;
  background-color: inherit;
  display: flex;
  height: var(--header-height);
  overflow: visible;
  padding-left: 40px;
  padding-right: 40px;
  position: fixed;
  width: 100%;
  &__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
