@use "../global/mixin" as gm;

.p-faq {
  &__breadcrumb {
    background-color: var(--c-bg-base);
    padding: var(--base-size-64) 0 var(--base-size-16) 0;

    @include gm.breakpoint(lg) {
      padding: var(--base-size-64) 0 var(--base-size-16) var(--base-size-24);
    }
  }

  &__contact {
    padding: var(--base-size-64) 0;

    @include gm.breakpoint(lg) {
      padding: var(--base-size-64) var(--base-size-24);
      width: 100%;
    }

    &-link {
      &-textBox {
        cursor: pointer;
        display: inline-block;
        background-color: var(--c-bg-primary);
        border-radius: var(--rounded-xs);
        box-shadow: 0 0 3px 2px var(--c-focus-shadow);
        padding: var(--base-size-12) var(--base-size-40) var(--base-size-12) var(--base-size-12);
        position: relative;
        width: 100%;

        a {
          display: flex;
          text-decoration: none;
          align-items: center;
          justify-content: start;
        }

        &-text {
          color: var(--c-text-low-priority);
          font-size: var(--base-size-20);
          font-weight: 600;
          letter-spacing: 0.05em;
          overflow: hidden !important;
          display: -webkit-box;
          line-height: 2;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          box-sizing: border-box;
          width: 100%;
          text-align: center;
        }

        &::after {
          content: "";
          position: absolute;
          right: var(--base-size-20);
          top: 45%;
          transform: translateY(-45%);
          width: 10px;
          height: 10px;
          border: solid var(--c-text-low-priority);
          border-width: 2px 2px 0 0;
          transform: rotate(45deg);
        }

        &:hover,
        &:active,
        &:focus {
          box-shadow: 0 0 6px 4px var(--c-focus-shadow);
          opacity: 0.8;
        }
      }
    }
  }

  &__list {
    background-color: var(--c-bg-neutral-lighter);
    padding: var(--base-size-64) 0;

    @include gm.breakpoint(lg) {
      padding: var(--base-size-64) var(--base-size-24);
      width: 100%;
    }

    &-headding {
      font-size: var(--base-size-32);

      span {
        color: var(--c-general-primary);
      }

      br {
        display: none;

        @include gm.breakpoint(md) {
          display: block;
        }
      }

      @include gm.breakpoint(md) {
        font-size: var(--base-size-24);
      }
    }

    &-accordion {
      width: 100%;
      margin-bottom: var(--base-size-12);
      position: relative;
      cursor: pointer;
      display: inline-block;
      background-color: var(--c-bg-base);
      border-radius: var(--rounded-xs);
      box-shadow: 0 0 3px 2px var(--c-focus-shadow);
      padding: var(--base-size-16) var(--base-size-16) var(--base-size-16) var(--base-size-16);
      position: relative;

      @include gm.breakpoint(md) {
        padding: var(--base-size-32) var(--base-size-16) var(--base-size-32) var(--base-size-16);
      }

      &-question {
        color: var(--c-bext-body);
        font-weight: 600;
        font-size: var(--base-size-24);
      }

      &-trigger {
        position: relative;
        color: #000;
        font-size: var(--base-size-20);
        width: 100%;
        height: 65px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        background: none;
        border: none;
        text-align: left;
        text-wrap: wrap;
        padding-right: var(--base-size-32);
        cursor: pointer;

        @include gm.breakpoint(md) {
          font-size: var(--base-size-16);
        }

        &-icon {
          position: absolute;
          top: 50%;
          right: 0;
          width: 10px;
          height: 10px;
          margin: auto;
          border: solid #000;
          border-width: 2px 2px 0 0;
          transform: rotate(-45deg);
          transition: transform 0.3s;
        }

        &[aria-expanded="true"] {
          .p-faq__list-accordion-trigger-icon {
            transform: rotate(135deg);
          }
        }
      }

      &-answer {
        display: flex;
        flex-direction: column;
        height: auto;
        opacity: 1;
        visibility: visible;
        margin-top: var(--base-size-12);
        padding-bottom: var(--base-size-12);
        padding-top: var(--base-size-12);

        &.--closed {
          height: 0;
          opacity: 0;
          visibility: hidden;
          padding: 0;
          margin-top: 0;
        }
      }
    }

    &-accordions {
      margin-top: var(--base-size-64);
    }

    margin-top: var(--base-size-128);
  }
}