@use "../global/mixin" as gm;

.p-hero {
  &__titleEn {
    color: var(--c-text-low-priority);
    font-size: clamp(var(--base-size-12), 1vw, var(--base-size-16));
    font-weight: 700;
    letter-spacing: 0.05em;
    @include gm.breakpoint(md) {
      font-size: var(--base-size-16);
    }
  }
  &__titleJp {
    color: var(--c-text-low-priority);
    font-size: clamp(40px, 2.9vw, 80px);
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.4rem;
    margin-bottom: var(--base-size-32);
    @include gm.breakpoint(md) {
      margin-bottom: var(--base-size-16);
    }
  }

  align-items: center;
  background: url(/img/hero.png) no-repeat;
  background-position: center, center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50vw;
  justify-content: start;
  max-height: 85vh;
  padding-left: var(--base-size-64);
  width: 100%;
  @include gm.breakpoint(md) {
    height: 100svh;
    max-height: 100vh;
    padding: 0 15px;
  }
}
