@use "../global/mixin" as gm;

.p-top {
  &__hero {
    &-titleEn {
      color: var(--c-text-low-priority);
      font-size: clamp(var(--base-size-12), 1vw, var(--base-size-16));
      font-weight: 700;
      letter-spacing: 0.05em;
      @include gm.breakpoint(md) {
        font-size: var(--base-size-16);
      }
    }
    &-titleJp {
      color: var(--c-text-low-priority);
      font-size: clamp(40px, 2.9vw, 80px);
      font-weight: 700;
      line-height: 1.4;
      letter-spacing: 0.4rem;
      margin-bottom: var(--base-size-32);
      @include gm.breakpoint(md) {
        margin-bottom: var(--base-size-16);
      }
    }

    align-items: center;
    background: url(../img/hero.png) no-repeat;
    background-position: center, center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50vw;
    justify-content: start;
    max-height: 85vh;
    padding-left: var(--base-size-64);
    width: 100%;
    @include gm.breakpoint(md) {
      height: 100svh;
      max-height: 100vh;
      padding: 0 15px;
    }
  }

  &__about {
    &-images {
      display: flex;
      flex-direction: column;

      li {
        &:nth-child(1) {
          width: 66%;
        }
        &:nth-child(2) {
          width: 40%;
          margin: -20% 0 0 auto;
          transition-delay: 0.3s;
        }
        &:nth-child(3) {
          width: 45%;
          margin: -14% 0 10% 8%;
          transition-delay: 0.6s;
        }
      }
    }
    &-inner {
      display: flex;
      @include gm.breakpoint(md) {
        max-width: 720px;
        display: block;
      }
    }
    &-messages {
      h1 {
        margin-bottom: var(--base-size-24);
        span {
          display: block;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 0.1em;
          font-size: var(--base-size-32);
          @include gm.breakpoint(md) {
            font-size: var(--base-size-24);
          }
        }
      }

      img {
        filter: drop-shadow(0px 2px 16px rgba(105, 105, 105, 0.15));
      }
      p {
        line-height: 1.8;
        letter-spacing: 0.03em;
        font-size: var(--base-size-20);
        font-weight: 300;
        @include gm.breakpoint(md) {
          font-size: var(--base-size-16);
          font-weight: 400;
        }
      }

      margin-top: auto;
      margin-left: auto;
      text-align: right;
      @include gm.breakpoint(md) {
        text-align: left;
      }
    }

    padding: var(--base-size-64) 0;

    @include gm.breakpoint(lg) {
      padding: var(--base-size-64) var(--base-size-24);
      width: 100%;
    }
  }
  &__services {
    background-color: var(--c-bg-neutral-lightest);
    padding: var(--base-size-64) 0;
    margin: 0 auto;
    &-cards {
      &-item {
        box-shadow: 0 0 3px 2px #e9edef;
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 4px;
        padding: var(--base-size-32);
        position: relative;

        &-heading {
          font-size: var(--base-size-32);
          margin: var(--base-size-32) 0 var(--base-size-20);
        }
        &-message {
          display: inline-block;
          font-size: var(--base-size-20);
          letter-spacing: 0.05em;
          position: relative;
          margin-top: var(--base-size-20);
          padding-left: var(--base-size-32);

          &::before {
            content: "";
            left: -2px;
            top: var(--base-size-4);
            position: absolute;
            display: inline-block;
            width: var(--base-size-20);
            height: var(--base-size-20);
            background-image: url("../img/check.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }
          @include gm.breakpoint(sm) {
            font-size: var(--base-size-16);
          }
        }

        &-image {
          margin: 0 auto;
          text-align: center;
          img {
            width: 100%;
            height: auto;
          }
        }

        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            &::before {
              content: "0#{$i}";
              font-family: oscine, sans-serif;
              font-weight: 500;
              font-size: 4rem;
              color: var(--c-general-primary);
              position: absolute;
              top: -30px;
              left: 30px;
              line-height: 1;
            }
            &::after {
              content: "";
              position: absolute;
              display: block;
              width: var(--base-size-128);
              height: 2px;
              background-color: var(--c-general-primary);
              top: 45px;
              left: 30px;
              z-index: 6;
            }
          }
        }
      }

      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--base-size-64);
      margin-top: var(--base-size-64);
      @include gm.breakpoint(sm) {
        grid-template-columns: 1fr;
      }
    }
    &-headding {
      font-size: var(--base-size-32);
      span {
        color: var(--c-general-primary);
      }

      br {
        display: none;
        @include gm.breakpoint(md) {
          display: block;
        }
      }

      @include gm.breakpoint(md) {
        font-size: var(--base-size-24);
      }
    }

    padding: var(--base-size-64) 0;
    @include gm.breakpoint(lg) {
      padding: var(--base-size-64) var(--base-size-24);
      width: 100%;
    }
  }
}
